* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
    background-color: #020101;
}

.app {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 300;
    font-size: 18px;
}
.joke {
    width: 100%;
    max-width:680px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    background-color: #ffb62b;
    padding: 20px;
    border-radius: 10px;
    gap: 14px;
    transition:transform 0.3s ease;
}
.joke:hover{
    transform:scale(1.05;
}
.joke h3 {
    text-align: center;
    font-weight: 650;
    font-size: 22px;
}

.joke img {
    width:100%;
    max-width:100%;
    height:auto;
    border-radius: 20px;

}

.joke button {
    width:100%;
   max-width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #020101;
    color: #fff;
    border: none;
}
@media only screen and (max-width:768px){
    .joke{
        font-size: 18px;
        padding:15px;
    }
    .joke h3{
        font-size: 18px;
    }
    .joke button{
        font-size: 14px;
    }
}
@media only screen and (max-width:480px){
    .joke{
        font-size: 15px;
        padding:10px;
    }
    .joke h3{
        font-size: 16px;
    }
    .joke button{
        font-size: 12px;
    }
}
